
.togglebutton {
    -fx-border-radius : 5px;
    visibility : true;
    -fx-opacity : 1;
    -fx-background-color : transparent;
    -fx-text-fill : transparent;
}

.togglebutton:hover {
    -fx-border-radius : 5px;
    visibility : true;
    -fx-opacity : 1;
    -fx-background-color : #f4ed80;
    -fx-text-fill : transparent;

}

.togglebutton:pressed {
    -fx-border-radius : 5px;
    visibility : true;
    -fx-background-color : green;
    -fx-opacity : 0.60;
    -fx-border-width : 3;
    -fx-border-color : blue;
    -fx-text-fill : transparent;

}

.togglebutton:selected {
    -fx-border-radius : 5px;
    -fx-background-color : transparent;
    -fx-opacity : 1;
    -fx-border-width : 2;
    -fx-border-color : yellow;
    -fx-text-fill : transparent;

}

.button2 {

    -fx-background-color : transparent;
    -fx-border-width : 1;
    -fx-border-color : gray;
    -fx-border-radius : 5px;
}

.button2:hover {

    -fx-border-radius : 5px;
    -fx-background-color :#f4ed80;
}

.button2:pressed {

    -fx-border-radius : 5px;
    -fx-background-color : #f4ed80;
}

.button1 {

    -fx-background-color : transparent;
    -fx-border-color : #2a2a2a;
    -fx-border-width : 3;
    -fx-border-radius : 5px;
}

.button1:hover {

    -fx-background-color : #f4ed80;
    -fx-border-radius : 5px;
}

.button1:pressed{

    -fx-background-color : #f4ed80;
    -fx-border-radius : 5px;
}

.label {

    -fx-text-fill : black;
    -fx-font-style : normal;
    -fx-font-size : 12;
    -fx-wrap-text : true;

}
