
.togglebutton {
    -fx-border-radius : 5;
    visibility : true;
    -fx-opacity : 1;
    -fx-background-color : transparent;
    -fx-text-fill : transparent;
}

.togglebutton:hover {
    -fx-border-radius : 5;
    visibility : true;
    -fx-opacity : 1;
    -fx-background-color : #708ad9;
    -fx-text-fill : transparent;

}

.togglebutton:pressed {
    -fx-border-radius : 5;
    visibility : true;
    -fx-background-color : green;
    -fx-opacity : 0.60;
    -fx-border-width : 3;
    -fx-border-color : blue;
    -fx-text-fill : transparent;

}

.togglebutton:selected {
    -fx-border-radius : 5;
    -fx-background-color : transparent;
    -fx-opacity : 1;
    -fx-border-width : 2;
    -fx-border-color : yellow;
    -fx-text-fill : transparent;

}

.button2 {

    -fx-background-color : transparent;
    -fx-border-width : 1;
    -fx-border-color : gray;
    -fx-border-radius : 3;

}

.button2:hover {

    -fx-background-color : #817ec7;
}

.button2:pressed {

    -fx-background-color : #4456c9;

}

.button1 {

    -fx-background-color : transparent;
    -fx-border-color : #2a2a2a;
    -fx-border-width : 3;

}

.button1:hover {

    -fx-background-color : #817ec7;

}

.button1:pressed{

    -fx-background-color : #2e2b86;

}

.label {

    -fx-text-fill : black;
    -fx-font-style : normal;
    -fx-font-size : 12;
    -fx-wrap-text : true;

}
